<div class="center jumbotron">
<section align="center">
  <h1>Welcome to the Brandeis Class Hub</h1>
</section>

</div>
<section align="center" style="padding-bottom: 100px">
<%= link_to image_tag("branCH.png", alt: "logo", width: "200") %> 
</section>

<section align="center">
<%# <%= link_to "Sign up", "#", class: "btn btn-lg btn-primary" %>
<%# <%= link_to "Log in", "#", class: "btn btn-lg btn-primary" %> 
<%= link_to "Calender View", home_calendar_path, class: "btn btn-lg btn-primary" %>
</section>

<%= button_to "Log in with Google", '/auth/google_oauth2'  %>