<div id="<%= dom_id holiday %>">
  <p>
    <strong>Event:</strong>
    <%= holiday.event_id %>
  </p>

  <p>
    <strong>Event name:</strong>
    <%= holiday.event_name %>
  </p>

  <p>
    <strong>Event category:</strong>
    <%= holiday.event_category %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= holiday.date %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= holiday.type %>
  </p>

</div>
