<div id="<%= dom_id holiday %>">
  <p>
    <strong>Calendar:</strong>
    <%= holiday.calendar_id %>
  </p>

  <p>
    <strong>Holiday name:</strong>
    <%= holiday.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= holiday.date %>
  </p>

  <p>
    <strong>Holiday type:</strong>
    <%= holiday.holiday_type %>
  </p>

</div>
