<h1>Holiday Information</h1>
<div class="container event-box" align="center">


<div>
  <h3><%= @holiday.name %></h3>
</div>

<div>
  <strong>Date</strong>
  <p><%= @holiday.date %></p>
</div>

<div>
  <% if Calendar.find_by(id: @holiday.calendar_id).user_id == Current.user.id%>
    <%= link_to "Edit",edit_calendar_holiday_path(Calendar.find_by(id: @holiday.calendar_id).invite_token, @holiday.slug), class:"btn btn-sl btn-primary" %> |
  <%end%>
    <%= link_to "Back", :back, class:"btn btn-sl btn-primary"%>
  <br><br>
  <% if Calendar.find_by(id: @holiday.calendar_id).user_id == Current.user.id%>
    <div class="delete-button">
      <%= button_to  "Delete this holiday", calendar_holiday_path, method: :delete, class:"btn btn-sl btn-danger", form: { data: { turbo_confirm: "Are you sure you want to delete this holiday?" } } %>
    </div>
  <%end%>
</div>
</div>
