<h1>Holiday</h1>
<div class="container event-box" align="center">
<p style="color: green"><%= notice %></p>

<div>
  <p><%= @holiday.name %></p>
</div>

<div>
  <strong>Date</strong>
  <p><%= @holiday.date %></p>
</div>

<div>
  <%= link_to "Edit", edit_holiday_path(@holiday), class:"btn btn-sm btn-primary" %> |
  <%= link_to "Back", home_calendar_path(date: params[:date], view: :month), class:"btn btn-sm btn-primary"%>

  <div class="delete-button">
    <%= button_to "Delete this assignment", @holiday, method: :delete, class:"btn btn-sm btn-primary" %>
  </div>
</div>
</div>
