<div id="<%= dom_id assignment %>">
  <p>
    <strong>Event:</strong>
    <%= assignment.event_id %>
  </p>

  <p>
    <strong>Event name:</strong>
    <%= assignment.event_name %>
  </p>

  <p>
    <strong>Event category:</strong>
    <%= assignment.event_category %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= assignment.due_date %>
  </p>

  <p>
    <strong>Class:</strong>
    <%= assignment.class_id %>
  </p>

</div>
