<div class="container event-box" align="center">
  <%= form_with(model: assignment) do |form| %>
    <% if assignment.errors.any? %>
      <div style="color: red">
        <ul>
          <% assignment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="input-group input-group-sm mb-3">
      <%= form.label :calendar_id, style: "display: block" %>
      <%= form.select :calendar_id, CalendarHelper.load_calendars(current_user[:id]), include_blank:true %>
    </div>

    <%= link_to "Create a New Calendar", new_calendar_path %>
    <br><br>

    <div class="input-group input-group-sm mb-3">
      <%= form.label :course_id, style: "display: block" %>
      <%= form.select :course_id, CalendarHelper.load_courses(current_user[:id]), include_blank:true %>
    </div>

    <%= link_to "Create a New Course", new_course_path %>
    <br><br>

    <div class="input-group input-group-sm mb-3">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div class="input-group input-group-sm mb-3">
      <%= form.label :due_date, style: "display: block" %>
      <%= form.date_field :due_date %>
    </div>

    <div class="input-group input-group-sm mb-3">
      <%= form.label :due_time, style: "display: block" %>
      <%= form.time_field :due_time %>
    </div>

    <div class="input-group input-group-sm mb-3">
      <%= form.submit :Submit, class:"btn btn-lg btn-primary" %>
    </div>
  <% end %>
</div>
