<h1>Assignment Information</h1>
<div class="container event-box" align="center">

<div>
  <h3><%= @assignment.name %></h3>
</div>

<div>
  <strong>Course Name</strong>
  <p><%=Course.find_by(id: @assignment.course_id).name%></p>
</div>

<div>
  <strong>Due Date</strong>
  <p><%= @assignment.due_date %></p>
</div>

<div>
  <% if Calendar.find_by(id: @assignment.calendar_id).user_id == Current.user.id%>
    <%= link_to "Edit", edit_calendar_course_assignment_path(@assignment), class:"btn btn-lg btn-primary" %> |
  <% end %>
  <%= link_to "Back", home_calendar_path(date: params[:date], view: :month), class:"btn btn-lg btn-primary"%>
  <% if Calendar.find_by(id: @assignment.calendar_id).user_id == Current.user.id%>
    <div class="delete-button">
         <%= button_to  "Delete this course", calendar_course_assignment_path, method: :delete, class:"btn btn-lg btn-primary" %>
    </div>
  <% end %>
</div>
</div>