<div class="container event-box" align="center">
  <p style="color: green"><%= notice %></p>
  <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
  <p><%= "#{@user.email}" %></p>
  <div class="profile-pic">
    <%= gravatar_for @user %>
  </div>
  
  <div>
    <%= link_to "Edit", edit_user_path(@user), class:"btn btn-sm btn-primary" %> |
    <%= link_to "Back", home_calendar_path, class:"btn btn-sm btn-primary"%>
    
    <div class="delete-button">
      <%= button_to "Delete this user", @user, method: :delete, class:"btn btn-sm btn-primary" %>
    </div>
  </div>
</div>