<%= form_with(model: user_calendar) do |form| %>
  <% if user_calendar.errors.any? %>
    <div style="color: red">
      <ul>
        <% user_calendar.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :calendar_id, style: "display: block" %>
    <%= form.number_field :calendar_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
