<div id="<%= dom_id class_period %>">
  <p>
    <strong>Course:</strong>
    <%= class_period.course_id %>
  </p>

  <p>
    <strong>Individual class:</strong>
    <%= class_period.individual_class_id %>
  </p>

  <p>
    <strong>Integer:</strong>
    <%= class_period.integer %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= class_period.start_time %>
  </p>

  <p>
    <strong>Datetime:</strong>
    <%= class_period.datetime %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= class_period.end_time %>
  </p>

  <p>
    <strong>Date time:</strong>
    <%= class_period.date_time %>
  </p>

</div>
