<div class="container event-box" align="center">
  <%= form_with(scope: :class_period, url:calendar_course_class_period_path(@class_period), method: :patch) do |form| %>
    <% if @class_period.errors.any? %>
      <div style="color: red">
        <ul>
          <% @class_period.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <h3><%= @class_period.name %></h3>
    </div>

    <div class="input-group input-group-sm mb-3">
      <%= form.label :date, style: "display: block" %>
      <%= form.date_field :date %>
    </div>
    <div class="input-group input-group-sm mb-3">
      <%= form.label :start_time, style: "display: block" %>
      <%= form.time_field :start_time %>
    </div>

    <div class="input-group input-group-sm mb-3">
      <%= form.label :end_time, style: "display: block" %>
      <%= form.time_field :end_time %>
    </div>

    <div class="input-group input-group-sm mb-3">
      <%= form.submit :Submit, class:"btn btn-lg btn-primary" %>
    </div>
  <% end %>
</div>