<div class="container event-box" align="center">
  <%= form_with(model: class_period) do |form| %>
    <% if class_period.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(class_period.errors.count, "error") %> prohibited this class_period from being saved:</h2>

        <ul>
          <% class_period.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="input-group input-group-sm mb-3">
      <%= form.label :course_id, style: "display: block" %>
      <%= form.select :calendar_id, CalendarHelper.load_courses(current_user[:id]), include_blank:true %>
    </div>

    <%= link_to "Create a New Course", new_course_path %>
    <br><br>

    <div class="input-group input-group-sm mb-3">
      <%= form.label :start_time, style: "display: block" %>
      <%= form.time_field :start_time %>
    </div>

    <div class="input-group input-group-sm mb-3">
      <%= form.label :end_time, style: "display: block" %>
      <%= form.time_field :end_time %>
    </div>

    <div class="input-group input-group-sm mb-3">
      <%= form.submit :Submit, class:"btn btn-lg btn-primary" %>
    </div>
  <% end %>
</div>