<h1>Class Period</h1>
<div class="container event-box" align="center">


<div>
  <p><%= @class_period.name %></p>
</div>

<div>
  <strong>Start Time</strong>
  <p><%= @class_period.start_time %></p>
</div>

<div>
  <strong>End Time</strong>
  <p><%= @class_period.end_time %></p>
</div>

<div>
  <% if Calendar.find_by(id: @class_period.calendar_id).user_id == Current.user.id%>
    <%= link_to "Edit", edit_class_period_path(@class_period), class:"btn btn-sm btn-primary" %> |
  <%end%>
  <%= link_to "Back", home_calendar_path(date: params[:date], view: :month), class:"btn btn-sm btn-primary"%>
  <% if Calendar.find_by(id: @class_period.calendar_id).user_id == Current.user.id%>
    <div class="delete-button">
      <%= button_to "Delete this assignment", @class_period, method: :delete, class:"btn btn-sm btn-primary" %>
    </div>
  <%end%>  
</div>
</div>
