<p style="color: green"><%= notice %></p>

<%= render @class_period %>

<div>
  <%= link_to "Edit this class period", edit_class_period_path(@class_period) %> |
  <%= link_to "Back to class periods", class_periods_path %>

  <%= button_to "Destroy this class period", @class_period, method: :delete %>
</div>
