<h1>Class Period</h1>
<div class="container event-box" align="center">
<p style="color: green"><%= notice %></p>

<div>
  <h1><%= @class_period.name %></h1>
</div>

<div>
  <strong>Start Time</strong>
  <p><%= @class_period.start_time.strftime("%I:%M%p") %></p>
</div>

<div>
  <strong>End Time</strong>
  <p><%= @class_period.end_time.strftime("%I:%M%p") %></p>
</div>

<div>
  <%= link_to "Edit", edit_class_period_path(@class_period), class:"btn btn-sm btn-primary" %> |
  <%= link_to "Back", home_calendar_path(date: params[:date], view: :month), class:"btn btn-sm btn-primary"%>

  <div class="delete-button">
    <%= button_to "Delete this assignment", @class_period, method: :delete, class:"btn btn-sm btn-primary" %>
  </div>
</div>
</div>
