

<div id="<%= calendar %>">
  <p>
    <strong>Name:</strong>
    <%= calendar.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= calendar.description %>
  </p>

  <p>
    <strong>Creator:</strong>
     <%=  User.find_by(id: calendar.user_id).first_name + " " + User.find_by(id: calendar.user_id).last_name %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= calendar.shared %>
  </p>

</div>