

<div id="<%= calendar %>" class = "calendar-overview">
  <p>
    <strong>Name:</strong>
    <%= calendar.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= calendar.description %>
  </p>

  <p>
    <strong>Creator:</strong>
     <%=  User.find_by(id: calendar.user_id).full_name%>
  </p>

  <p>
    <strong>Public:</strong>
    <%= calendar.shared %>
  </p>

</div>