

<div id="<%= calendar %>">
  <p>
    <strong>Name:</strong>
    <%= calendar.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= calendar.description %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= calendar.users.first.first_name + " " +calendar.users.first.last_name %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= calendar.shared %>
  </p>

  <p>
    <strong>Token:</strong>
    <%= calendar.invite_token %>
  </p>

</div>