<%= form_with(model: calendar) do |form| %>
  <% if calendar.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(calendar.errors.count, "error") %> prohibited this calendar from being saved:</h2>

      <ul>
        <% calendar.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :calendar_id, style: "display: block" %>
    <%= form.number_field :calendar_id %>
  </div>

  <div>
    <%= form.label :calendar_name, style: "display: block" %>
    <%= form.text_field :calendar_name %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :shared, style: "display: block" %>
    <%= form.check_box :shared %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
