
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Public</th>
      <%# <th>Token</th> %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calendars.each do |calendar| %>
      <tr>
        <td><%= calendar.calendar_name %></td>
        <td><%= calendar.users.first.first_name + " " +calendar.users.first.last_name %></td>
        <%# <><%= calendar.user_first_name %>
        <td><%= calendar.shared %></td>
        <%# <><%= calendar.invite_token %>
        <%# change show to copy token %>
        <td><%= link_to 'Details', calendar %></td>
        <%# <td><%= link_to 'Edit', edit_calendar_path(calendar) %>
        <%# <td><%= link_to 'Destroy', calendar, method: :delete %>
      </tr>
    <% end %>
  </tbody>
</table>
