<table class="table calendar-list-page">
  
  <thead>
    <h3 class = "container" style = "text-align: center"> Current Subscribed Calendars </h3>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Owner</th>
      <th>Public</th>
      <th>Details</th>
    </tr>
  </thead>

  <tbody>
    <% UserCalendar.where(user_id:Current.user.id).each do |calendar| %>
      <tr>
        <td><%= calendar.calendar.name %></td>
        <td><%= calendar.calendar.description %></td>
        <td><%= User.find_by(id: calendar.calendar.user_id).first_name + " " + User.find_by(id: calendar.calendar.user_id).last_name %></td>
        <td><%= calendar.calendar.shared %></td>
        <td><%= link_to 'Details', calendar.calendar %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%# redirect to search page %>
<div class="input-group input-group-sm mb-3 search-calendar-button">
  <%= link_to "Subscribe to more calendars", subscribe_url, class:"btn btn-sm btn-primary" %>
</div>
