
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Owner</th>
      <th>Public</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% UserCalendar.where(user_id:Current.user.id).each do |calendar| %>
      <tr>
        <td><%= calendar.calendar.calendar_name %></td>
        <td><%= calendar.calendar.description %></td>
        <td><%= User.find_by(id: calendar.calendar.user_id).first_name + " " + User.find_by(id: calendar.calendar.user_id).last_name %></td>
        <td><%= calendar.calendar.shared %></td>
        <td><%= link_to 'Details', calendar.calendar %></td>
      </tr>
    <% end %>
  </tbody>
</table>
