<p style="color: green"><%= notice %></p>

<%= render @calendar %>

<div class="row">
  <aside class="col-md-4">
    <section >
    <% if creator?(@calendar) == true %>
      <h3>
        <%= link_to "Edit this calendar", edit_calendar_path(@calendar) %> |
        <%= link_to "Back to calendars", home_calendar_path %>
        <%= button_to "Destroy this calendar", @calendar, method: :delete %> 
      </h3>
    <% else %>
      <h3> 
        <%= link_to "Back to calendars", home_calendar_path %>
        <%= button_to "Unsubscribe from this calendar", UserCalendar.find_by(user_id: @current_user.id), method: :delete %> 
      </h3> 
    <% end %>
    </section>
    <div <%= @calendar.id %>"  aria-labelledby="heading<%= @calendar.id %>">
      <div class="card-body">
        <div class="invite-box mb-4" data-controller="invite">
          <h5 class="mb-1">Click on the link below to copy and share:</h5>
          <input onclick="this.select();document.execCommand('copy');" class="calendar-url" id="cb-link-field" type="text" value="<%= new_calendar_user_calendar_url(@calendar) %>" data-target="invite.url" data-calendar-token="<%= @calendar.invite_token %>"/>
          </div>
        </div>
      </div>
    <div>
  </aside>
</div>
