<div class="container event-box" align="center">
  <%= form_with(model: other_event) do |form| %>
    <% if other_event.errors.any? %>
      <div style="color: red">
        <ul>
          <% other_event.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="input-group input-group-sm mb-3">
      <%= form.label :calendar_id, style: "display: block" %>
      <%= form.select :calendar_id, CalendarHelper.load_calendars(current_user[:id]), include_blank:true %>
    </div>

    <%= link_to "Create a New Calendar", new_calendar_path %>
    <br><br>

    <div class="input-group input-group-sm mb-3">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div class="input-group input-group-sm mb-3">
      <%= form.label :date, style: "display: block" %>
      <%= form.date_field :date %>
    </div>

    <div class="input-group input-group-sm mb-3">
      <%= form.label :start_time %>
      <%= form.time_field :start_time %>
    </div>

    <div class="input-group input-group-sm mb-3">
      <%= form.label :end_time %>
      <%= form.time_field :end_time %>
    </div>

    <div class="input-group input-group-sm mb-3">
      <%= form.submit :Submit, class:"btn btn-sl btn-primary" %>
    </div>
  <% end %>
</div>
