<div class="container event-box" align="center">
<%= form_with(model: other_event) do |form| %>
    <% if other_event.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(other_event.errors.count, "error") %> prohibited this other_event from being saved:</h2>

        <ul>
          <% other_event.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="input-group input-group-sm mb-3">
      <%= form.label :calendar_id, style: "display: block" %>
      <%= form.select :calendar_id, CalendarHelper.load_calendars(current_user[:id]), include_blank:true %>
    </div>

    <div class="input-group input-group-sm mb-3">
      <span class='input-group-text'>Name</span>
      <%= form.text_field :name %>
    </div>

    <div class="input-group input-group-sm mb-3>
      <%= form.label :date %>
      <%= form.date_field :date %>
    </div>

    <div class="input-group input-group-sm mb-3>
      <%= form.label :start_time %>
      <%= form.time_field :start_time %>
    </div>

    <div class="input-group input-group-sm mb-3">
      <%= form.label :end_time %>
      <%= form.time_field :end_time %>
    </div>

    <div class="input-group input-group-sm mb-3">
      <%= form.submit :Update, class:"btn btn-lg btn-primary" %>
    </div>
  <% end %>
</div>
