<div id="<%= dom_id other_event %>">
  <p>
    <strong>Calendar:</strong>
    <%= other_event.calendar_id %>
  </p>

  <p>
    <strong>Other name:</strong>
    <%= other_event.other_name %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= other_event.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= other_event.end_time %>
  </p>

</div>
