<h1>Event</h1>
<div class="container event-box" align="center">


<div>
  <h3><%= @other_event.name %></h3>
</div>

<div>
  <strong>Time</strong>
  <p><%= @other_event.start_time.strftime("%I:%M%p").to_s + " to " + @other_event.end_time.strftime("%I:%M%p").to_s %></p>
</div>

<div>
  <% if Calendar.find_by(id: @other_event.calendar_id).user_id == Current.user.id%>
    <%= link_to "Edit", edit_other_event_path(@other_event), class:"btn btn-sm btn-primary" %> |
  <%end%>
    <%= link_to "Back", home_calendar_path(date: params[:date], view: :month), class:"btn btn-sm btn-primary"%>
  <% if Calendar.find_by(id: @other_event.calendar_id).user_id == Current.user.id%>
    <div class="delete-button">
      <%= button_to "Delete this assignment", @other_event, method: :delete, class:"btn btn-sm btn-primary" %>
    </div>
  <%end%>
</div>
</div>
