<h1>Event</h1>
<div class="container event-box" align="center">


<div>
  <p><%= @other_event.name %></p>
</div>

<div>
  <strong>Start Time</strong>
  <p><%= @other_event.start_time %></p>
</div>

<div>
  <strong>End Time</strong>
  <p><%= @other_event.end_time %></p>
</div>

<div>
  <%= link_to "Edit", edit_other_event_path(@other_event), class:"btn btn-sm btn-primary" %> |
  <%= link_to "Back", home_calendar_path(date: params[:date], view: :month), class:"btn btn-sm btn-primary"%>

  <div class="delete-button">
    <%= button_to "Delete this assignment", @other_event, method: :delete, class:"btn btn-sm btn-primary" %>
  </div>
</div>
</div>
