<div id="<%= dom_id course %>">
  <p>
    <strong>Professor first name:</strong>
    <%= course.professor_first_name %>
  </p>

  <p>
    <strong>Professor last name:</strong>
    <%= course.professor_last_name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= course.subject %>
  </p>

</div>
