<div id="<%= dom_id course %>">
  <p>
    <strong>Calendar:</strong>
    <%= course.calendar_id %>
  </p>

  <p>
    <strong>Course name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= course.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= course.end_date %>
  </p>

  <p>
    <strong>Professor:</strong>
    <%= course.professor_name %>
  </p>


  <p>
    <strong>Repetition frequency:</strong>
    <%= course.repetition_frequency %>
  </p>

</div>
