<h1>Course</h1>
<div class="container event-box" align="center">

  
<div>
  <h3><%= @course.name %></h3>
</div>

<div>
  <strong>Date</strong>
  <p><%= @course.start_date.to_s + " to " + @course.end_date.to_s  %></p>
</div>

<div>
  <strong>Time</strong>
  <p><%= @course.start_time.to_s + " to " + @course.end_time.to_s  %></p>
</div>

<div>
  <strong>Repeat on</strong>
  <p><%= @course.repetition_frequency %></p>
</div>


  <div>
    <%= link_to "Edit this course", edit_course_path(@course),class:"btn btn-sm btn-primary" %> |
    <%= link_to "Back to courses", home_calendar_path(date: params[:date], view: :month), class:"btn btn-sm btn-primary"%>
    <div class="delete-button">
      <%= button_to "Delete this course", @course, method: :delete, class:"btn btn-sm btn-primary" %>
    </div>
  </div>
</div>
