<h1>Course Information</h1>
<div class="container event-box" align="center">

  
<div>
  <h3><%= @course.name %></h3>
</div>

<div>
  <strong>Date</strong>
  <p><%= @course.start_date.to_s + " to " + @course.end_date.to_s  %></p>
</div>

<div>
  <strong>Time</strong>
  <p><%= @course.start_time.strftime("%I:%M%p").to_s + " to " + @course.end_time.strftime("%I:%M%p").to_s %></p>
</div>

<div>
  <strong>Repeat on</strong>
  <p><%= @course.repetition_frequency %></p>
</div>


  <div>
    <% if Calendar.find_by(id: @course.calendar_id).user_id == Current.user.id%>
      <%= link_to "Edit", edit_calendar_course_path(Calendar.find_by(id: @course.calendar_id).invite_token, @course.slug),class:"btn btn-lg btn-primary" %> |
    <% end %>
      <%= link_to "Back", home_calendar_path(date: params[:date], view: :month), class:"btn btn-lg btn-primary"%>
    <% if Calendar.find_by(id: @course.calendar_id).user_id == Current.user.id%>
      <div class="delete-button">
         <%= button_to  "Delete this course", calendar_course_path, method: :delete, class:"btn btn-lg btn-primary" %>
      </div>
    <%end%>
  </div>
</div>
