<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous">
<!DOCTYPE html>
<html>
  <head>
    <title>BrandeisClassHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= render 'layouts/shim' %>
    <%= javascript_importmap_tags %>

  </head>
  <body class=<%= @class %>>
    <%= render 'layouts/header' %>
    <div class="container main-template flash_msgs">
      <% [:notice, :success,:danger, :alert].each do |level| %>
        <% unless flash[level].blank? %>
        <div class=" alert-dismissable alert <%= flash_class(level) %> fade in">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <%= content_tag :p, flash[level] %>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
    </div>
  </body>
</html>

